* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: silver;
}

#container {
  /*width: 70%;*/
  width: 100%;
  max-width: 100%;
  margin: opx auto;
  
}

header {
  background-color: black;
  height: 220px;
  width: 100%;
  text-align: center;
  color: white;
  padding-bottom: 4cm;
}

.ancho {
  width: 90%;
  height: 100%;
  margin: auto;
  text-align: center;
}

.logo a {
  height: 50%;
  text-align: left;

}

div .clearfix {
  height: 1px;

}
/*Menú*/
nav {
  display: flex;
  background: #000000;
  height: 50px;
  border-bottom: 1px solid black;
  color: white;
  box-sizing: border-box;
  padding-top: 24px;
  flex-direction: column;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  float: center;
  font-size: 18px;
  text-decoration: none;
  padding-left: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Cormorant Garamond', serif;
}

nav ul li a:hover {
  color: #444;
}

article img {
  margin: 5px;
}

h1 {
  color: white;
  margin: 1px;
}

h1.nombredepagina{
  font-family: 'Playfair Display', serif;
  color: #000;
  margin: 1cm;
  font-size: 2.5cm;
  text-align: center;
  letter-spacing: -0.5px;
  font-weight: 400;
  line-height: 36px;
  line-height: 2.25rem;
}

p h2 {
  margin-right: 200px;
}

h2 {
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
/*info modelos*/
p{
  font-family: "Georgia","Times New Roman",Times,serif;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 28px;
    line-height: 1.75rem;
    color: #000;
    letter-spacing: .2px;
    font-weight: 400;
    padding: 15px 0;
    margin-left: 6cm;
    margin-right: 6cm;
}

.img-modelos{
  margin: 70px;
  padding-left: 12cm;
}

h4 {
  color: rgb(0, 0, 0);
  text-align: left;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  margin: 10px;
}

/*info de la pagina*/
section.main h3{
  float: right;
    text-align: start;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin-top: 1%;
    margin-right: 10cm;
    margin-bottom: 1%;
    margin-left: 5cm;
    height: 4cm;
    width: 15cm;
    position:relative ;
    font-family: "Prompt",sans-serif;
    flex-direction: column;
}

section #content{
  margin: 3cm;
}

h2.marcas{
  font-family: 'Playfair Display', serif;
  font-size: 35px;
}

h2.modelos{
  font-family: 'Playfair Display', serif;
  font-size: 35px;
}

/*Imagenes marcas*/
img.marcaspagprincipal{
  margin: 16px;
}



/*imagenes modelos*/
img.modelospagprincipal{
border-radius: 50%;
margin: 18px;

}

article p.nombre-modelos{
  color: #fff;
}

/*titulo "biografia"*/
h2.biografia{
  color: #000;
  text-align: left;
  font-family: 'Cookie', cursive;
  margin-left: 6cm;
}

img.fotosinfo{
  margin-left: 12cm;
}

.clearfix {
  clear: both;
}

#content {
  float: left;
  width: 100%;
  min-height: 500px;
  background: black;

}

.article {
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.article h2 {
  font-size: 25px;
  color: #ffffff;
}
/*Barra de navegacion*/
aside form {
  float: right;
  width: calc(20%-20px);
  background: black;
  min-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  color: white;
  box-sizing: border-box;
}

footer {
  background: black;
  color: #eee;
  text-align: center;
  height: 150px;
  line-height: 50px;
  font-family: 'Raleway', sans-serif;
}
/* letras del footer*/
p.footer{
  margin-top: 2px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 2px;
  color: rgb(255, 255, 255);
}
