* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: silver;
}

#container {
  /*width: 70%;*/
  width: 1570px;
  margin: opx auto;
}

header {
  background-color: black;
  height: 250px;
  width: 100%;
  text-align: center;
  color: white;
}

.ancho {
  width: 90%;
  height: 100%;
  margin: auto;
}

.logo a {
height: 30%;
  text-align: center;

}

div .clearfix {
  height: 1px;

}

nav {
  background: #000000;
  height: 50px;
  border-bottom: 1px solid black;
  color: white;
  box-sizing: border-box;
  padding-top: 24px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  float: center;
  font-size: 18px;
  text-decoration: none;
  padding-left: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

nav ul li a:hover {
  color: #444;
}

article img {
  margin: 5px;
}

h1 {
  color: white;
  margin: 1px;
}

p h2 {
  margin-right: 200px;
}

h2 {
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h3 {
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  height: 50%;
  width: 50%;
}

h4 {
  color: white;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  margin: 10px;
}

p {
  margin-top: 2px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 2px;
}

section .page-info p h3{
    text-align: center;
    padding: 30%;
    margin: auto;
    height: 10cm;
    position: absolute;
}

section article h2 .marcas a{

}

section article h2 .modelos a{
border-radius: 50%;
}

.clearfix {
  clear: both;
}

#content {
  float: left;
  width: 100%;
  min-height: 500px;
  background: black;
}

.article {
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.article h2 {
  font-size: 25px;
  color: #ffffff;
}

aside form {
  float: right;
  width: calc(20%-20px);
  background: black;
  min-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  color: white;
  box-sizing: border-box;
}

footer {
  background: black;
  color: rgb(255, 255, 255);
  text-align: center;
  height: 150px;
  line-height: 50px;
  font-family: 'Raleway', sans-serif;
}
